<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Machine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<connectionStrings>
		<add name="Machine.Properties.Settings.machineConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\002软件项目\Project\成都项目\代码\0929\bin\Debug\System\machine.mdb" providerName="System.Data.OleDb"/>
    <add name="AddressArray" connectionString="DB105.0,DB105.2,DB105.4,DB105.6,DB105.8,DB105.10" />
	<add name="ClearFlag" connectionString="DB105.12" />
    <add name="BitAddressArray" connectionString="DB105.22.0,DB105.22.1,DB105.22.2,DB105.22.3,DB105.22.4" />
		<add name="RunProOnloadRobot" connectionString="8"/>
		<add name="RunProOnloadBatTransfer" connectionString="8"/>
		<add name="RunProCoolOnloadRobot" connectionString="8"/>
		<add name="RunProKickTrashRobot" connectionString="4"/>
		<add name="RunProCoolOffloadRobot" connectionString="4"/>

	</connectionStrings>
</configuration>
